@use 'productList';
@use 'filter';

.find {
    width: 100%;
    padding-bottom: 16px;

    .findFrame {
        width: 100%;

        .filterFrame {
            width: 1240px;
            height: auto;
            margin: 0 auto;
        }
    
        .productListFrame {
            width: 1240px;
            height: auto;
            margin: 0 auto;
        }
    }
}