.productCreate {
    width: 100%;
    height: 100%;
    
    .productCreateFrame {
        width: 1240px;
        height: auto;
        margin: 0 auto;

        .head {
            padding: 6px 0 6px 0;
        }
    }
}